<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Docum</title>
</head>
<style>
  body{
    background-image: url("https://images.unsplash.com/photo-1496417263034-38ec4f0b665a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-repeat: no-repeat;
        background-size: cover;
  
  }
h1{
  padding: 10px;
}

  section {
    height: 50%;
 padding: 20px;
    display: block;
    margin-top: -5px;
    margin-left: 450px;
  }

  #df {
    margin-left: 27px;
    

  }

  #het {
    margin-left: 350px;
  }

  #d {
    line-height: 17px;
color: white;
    display: flex;
    flex-direction: column;
    align-items: center;



  }
</style>
{{>nav}}

<body>

  <section class="cont" id="dt">
    <h1>welcome to My group</h1>
    <p id="df">You will find all the studymaterials available here</p><br>

  </section>

  <div id="oll">
    <form action="/register" method="POST" id="d">
      Name : <input type="text" name="name"><br><br>

      email: <input type="text" name="email"><br><br>

      Author:<input type="text" name="author"><br><br>

      Videos:<input type="text" name="videos"><br><br>
      passowd:<input type="text" name="password"><br><br>

      <input type="submit">
  </div>
  </form>
</body>

</html>